<div [@routerTransition]>
    <app-page-header [heading]="'Overview'" [icon]="'fa fa-th-list'"></app-page-header>
    <div class="row">
        <div class="col col-xl-9 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    {{'Employees' | translate }}
                </div>

                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{'First Name' | translate}}</th>
                                <th>{{'Last Name' | translate}} </th>
                                <th>Avatar</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="response">
                            <tr *ngFor="let user of response.users">
                                <td scope="row">{{user.id}}</td>
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}} </td>
                                <td>
                                    <img src="{{user.avatar}}">
                                </td>
                                <td>
                                    <a href="/edit/{{user.id}}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a (click)="delete(user.id)" href="javascript:;">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <nav>
                <ul class="pagination" *ngIf="pages">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="changePage(currentPage-1)" href="javascript:;" tabindex="-1">Previous</a>
                    </li>
                    <span *ngFor="let i of pages">
                        <li class="page-item" [class.active]="i === currentPage">
                            <a class="page-link" (click)="changePage(i)" href="javascript:;">{{i}}</a>
                        </li>
                    </span>
                    <li class="page-item" [class.disabled]="currentPage === response.totalPages">
                        <a class="page-link" (click)="changePage(currentPage+1)" href="javascript:;">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
