<div [@routerTransition]>
    <app-page-header [heading]="'Overview'" [icon]="'fa fa-th-list'"></app-page-header>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    {{'Employees' | translate }}
                </div>

                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{'First Name' | translate}}</th>
                                <th>{{'Last Name' | translate}} </th>
                                <th>Avatar</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="userList">
                            <tr *ngFor="let user of userList.data">
                                <td scope="row">{{user.id}}</td>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}} </td>
                                <td>
                                    <img src="{{user.avatar}}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <nav>
                <ul class="pagination" *ngIf="pages">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link"  href="/overview/{{currentPage-1}}" tabindex="-1">Previous</a>
                    </li>
                    <span *ngFor="let i of pages">
                        <li class="page-item" [class.active]="i === currentPage">
                            <a class="page-link"  href="/overview/{{i}}">{{i}}</a>
                        </li>
                    </span>
                    <li class="page-item" [class.disabled]="currentPage === userList.total_pages">
                        <a class="page-link"  href="/overview/{{currentPage+1}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
