<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/overview']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Overview' | translate }}
        </a>
        <a [routerLink]="['/add']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-user"></i>&nbsp;{{ 'Create User' | translate }}
        </a>
    </ul>
</nav>
