<app-page-header [heading]="'Create User'" [icon]="'fa fa-user'">
</app-page-header>
<div [@routerTransition]>
    <fieldset class="form-group">
        <label>{{'First Name' | translate}}
            <input class="form-control" #firstName />

        </label>
    </fieldset>
    <fieldset class="form-group">
        <label>{{'Last Name' | translate}}
            <input class="form-control" #lastName />

        </label>
    </fieldset>
    <button style="cursor:pointer" class="btn btn-success btn-lg" (click)="add(firstName.value,lastName.value); firstName.value=''; lastName.value=''">
        Create
    </button>
</div>
