<app-page-header [heading]="'Create User'" [icon]="'fa fa-user'">
</app-page-header>

    <fieldset class="form-group">
        <label>{{'Name' | translate}}
            <input class="form-control" #name />

        </label>
    </fieldset>
    <fieldset class="form-group">
        <label>{{'Job' | translate}}
            <input class="form-control" #job />

        </label>
    </fieldset>
    <button class="button btn-success btn-lg" (click)="add(name.value,job.value); name.value=''; job.value=''">
        Create
    </button>
